---
layout: single
title: dotaz odeslán
description: Ing. Martin Sivak - lukostrelec; reportazni a portretni fotograf; icc profily a kalibrace barev pro CRT a LCD displeje, scannery, pripadne stolni RGB tiskarny.
---
  <div id="foto">
          <img src="/images/MarSik.jpg" alt="Foto autora"/>
  </div>



	<div id="content">

		<div class="post">
			<h2 class="title"><a href="#">Děkuji za Váš zájem</a></h2>
			<div class="entry">
			    <p>Váš dotaz jsem obdržel a pokusím se na něj odpovědět co nejdříve to bude možné.</p>
			    <p>Chcete-li odeslat další dotaz, klikněte prosím <a href="contact.php">zde</a></p>
			</div>
		</div>

	</div>
