<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Monoblock
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20080418

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Martin Sivák - {{ .Title }}</title>
<meta name="keywords" content="MarSik Montik programátor blog sluzby icc kalibrace tiskaren lcd crt scanneru sprava barev" />
<meta name="description" content="{{ .Description }}" />
<link href="/style.css" rel="stylesheet" type="text/css" media="screen" />

<link href="/style-dark.css" rel="alternate stylesheet" title="Dark" type="text/css" media="screen" />
<link href="/style-white.css" rel="stylesheet" title="Light" type="text/css" media="screen" />

<link rel='home' href='/' />
<link rel='start' href='/services.html' />

<link rel="icon" href="/favicon.ico" />
<link rel="shortcut icon" href="/favicon.ico" />

<link rel="meta" type="application/rdf+xml" title="FOAF" href="http://www.marsik.org/foaf.rdf" />

<script type="text/javascript" src="/js/theme.js"></script>
<script type="text/javascript" src="/js/prototype.js"></script>
<script type="text/javascript" src="/js/scriptaculous.js?load=effects,builder"></script>

</head>
<body class="langcz" onload="set_style_from_cookie()">

<div id="header">
	<div id="logo">
	        <h1><a href="/"><img src="/logo.png"/> Martin Sivák</a></h1>
		<!--<p>by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a></p>//-->
	</div>
	<!-- #search 
	<div id="search">
		<form method="get" action="">
			<fieldset>
			<input id="search-text" type="text" name="s" value="Search" size="15" />
			<input type="submit" id="search-submit" value="Search" />
			</fieldset>
		</form>
	</div>
	end #search -->
</div>
<!-- end #header -->

