<div id="menu">
	<ul>
<!--            <li class="current_page_item"><a href="/index.html">Index</a></li> //-->
		<li class="current_page_item"><a href="/calibration.html">Kalibrace a ICC profily</a></li>
		<li><a href="/about.html">O mně</a></li>
		<li><a href="/contact.php">Kontakt</a></li>
		<li>
[
<a id="langselection" href="#" onclick="switch_style('Dark');return false;">tmavé téma</a>
/
<a id="langselection" href="#" onclick="switch_style('Light');return false;">světlé téma</a>
]
		</li>
	</ul>
</div>
<!-- end #menu -->

