/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
	background: #191919 url(images/img01.gif) repeat-x;
	color: #989898;
}

h1, h2, h3 {
	text-transform: uppercase;
	letter-spacing: .15em;
	font-family: 'Arial CE', Arial, 'Helvetica CE', Helvetica, sans-serif;
}

h1 {
}

h2 {
}

h3 {
}

form input, form textarea {
	border: solid 1px #aaa;
	color: #aaa;
	background-color: #000;
}

div.spamcheck {
}

form input.check {
}

form textarea {
}

p, ul, ol {
}

ul, ol {
}

a {
	background: url(images/img05.gif) repeat-x left bottom;
	text-decoration: none;
	color: #D0D0D0;
}

a:hover {
	background: none;
	color: #FFFFFF;
}

a#mainurl {
	text-decoration: none;
	background: none;
}

em {
    color: #C0C0C0;
}

/* Header */

#header {
	margin: 0 auto;
}

/* Logo */

#logo {
	/*float: left;*/
}

#logo h1 {
	/* float: left; */
	text-transform: lowercase;
}

#logo h1 img {
	background: none;
}


#logo p {
	/* float: left; */
	text-transform: lowercase;
	letter-spacing: .2em;
	font: bold 1.2em 'Arial CE', Arial, 'Helvetica CE', Helvetica, sans-serif;
	color: #FFFFFF;
} 

#logo a {
	background: none;
	text-decoration: none;
	color: #FFFFFF;
}

/* Search */

#search {
}

#search form {
	background: url(images/img03.gif) no-repeat;
}

#search fieldset {
}

#search-text {
	text-transform: lowercase;
	background: none;
	font: bold 1.2em 'Arial CE', Arial, 'Helvetica CE', Helvetica, sans-serif;
	color: #FFFFFF;
}

#search-submit {
}

/* Menu */

#menu {
	background: #000000 url(images/img02.gif) repeat-x;
}

#menu ul {
}

#menu li {
}

#menu a {
	background: none;
	text-transform: lowercase;
	text-decoration: none;
	font: bold 1.2em 'Arial CE', Arial, 'Helvetica CE', Helvetica, sans-serif;
	color: #B3B4B4;
}

#menu a:hover, #menu .current_page_item a {
	color: #FFFFFF;
}

#menu a:hover {
	text-decoration: underline;
}

#menu a#langselection {
	font-weight: normal;
	color: #838484;
}

/* Page */

#page {
	background: #121212 url(images/img04.gif) repeat-x;
}

/* Content */

#content {
}

#content.full {
}

.post {
}


.post .title {
}

.post .title a {
	background: none;
}

.post .meta {
	background: #0D0D0D;
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	text-transform: uppercase;
}

.post .entry {
}

.post .official {
	border: solid #aaa thin;
}

.post .official p {
}

.post address {
	color: #C0C0C0;
}

.post .entry .imagecontainer {
}

.imagecontainer a {
	text-decoration: none;
	background: none;
	border: 0;
}

.imagecontainer img {
	border: 0;
	/*border: 1px solid #999;*/
}

.post .end {
}

.post ul, .post li {
}

/* Sidebar */

#sidebar {
	background: #0D0D0D;
	border: 1px solid #000000;
}

#sidebar ul {
	list-style: none;
}

#sidebar li {
}

#sidebar li ul {
}

#sidebar li li {
}

#sidebar h2 {
	background: #000000;
}

#sidebar p {
}

.hlimited {
}

#sidebar .exif, #sidebar .iptc {
}

#sidebar.detail .exif, #sidebar.detail .iptc {
}

/* Calendar */

#calendar {
}

#calendar_wrap {
}

#calendar table {
}

#calendar tbody td {
}

#calendar #next {
}

/* Footer */

#footer, #calibrate {
	background: #35393D;
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
}

#calibrate {
    background: #000;
    border: solid #35393D 1px;
}

#footer p, #calibrate p {
	text-transform: uppercase;
}

/* image info */
.exif, .iptc, .exifdetails {
}

.exifdetails {
}

table {
}

table th, table td {
    border-right: solid 1px #666;
    border-bottom: none 0px black;
}

table td.racetitle {
    border-bottom: solid 1px #666;
    border-top: solid 1px #666;
}

table tr, table td, table th {
}

/* Lightbox */
#lightbox{
}

#outerImageContainer{
    background: #121212 url(images/img04.gif) repeat-x;
    color: #989898;
}

#imageDataContainer{
    background: #121212 url(images/img04.gif) repeat-x;
    color: #989898;
}

#imageData{	padding:0 10px; color: #666; }
#imageData #bottomNavClose{ border: #989898; color: #989898; background-color: #121212; }	 	

#overlay{ background-color: #000; }

